venv/
venv311/
env/
*.env
__pycache__/
*.pyc
*.pyo
*.pyd
chroma_db/
*.db
backend/temp/
*.pdf
.vscode/
.DS_Store
Thumbs.db
node_modules/
dist/
build/
venv311/Include
venv311/Lib
venv311/Scripts
venv311/share
venv311/pyvenv.cfg